@{
    ViewData["Title"] = "Home Page";
    ViewData["message"]="Welcome to my code";
}
@* @-Razor syntax which will switch bewtween csharp and html codes*@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@ViewData["message"]content</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
